/* @media Rule */
@media ( max-height: 767px) and (max-width: 480px) {
}
  nav {
    height: 100px;
    width: 960px;
    line-height: 100px;
  }
  #b {
    float: left;
    height: 600px;
    width: 200px;
    line-height: 600px;
  }
  #c {
    height: 200px;
    width: 380px;
    line-height: 190px;
  }
  #d {
    float: left;
    height: 200px;
    width: 380px;
    line-height: 200px;
  }
  #e {
    float: left;
    height: 250px;
    width: 190px;
    line-height: 250px;
  }
  #f {
    float: left;
    height: 250px;
    width: 190px;
    line-height: 250px;
  }
  #g {
    float: left;
    height: 250px;
    width: 190px;
    line-height: 250px;
    
  }
  #h {
    float: left;
    height: 250px;
    width: 190px;
    line-height: 250px;
  }
  footer {
    height: 150px;
    width: 760px;
    line-height: 150px;
  }
.clear {
  border: none;
}
article {
  display: inline;
}

/* Media for larger devices */
@media only screen and (min-width: 960px) and (max-height: 768px){

  nav {
    height: 75px;
    width: 403px;
  }
  #b {
    height: 150px;
    width: 403px;
   
  }
  #c {
    height: 125px;
    width: 403px;
  }
  #d {
    float: left;
    height: 125px;
    width: 403px;
  }
  #e {
    float: left;
    height: 250px;
    width: 201px;
  }
  #f {
    float: left;
    height: 250px;
    width: 201px;
  }
  #g {
    float: left;
    height: 250px;
    width: 201px;
    
  }
  #h {
    float: left;
    height: 250px;
    width: 201px;
    
  }
  footer {
    height: 80px;
    width: 403px;
    
  }
.clear {
  border: none;
}
article {
  display: inline;
}

}
