/* @media Rule */
@media all and ( max-height: 767px) and (max-width: 480px) {
}
  nav {
    height: 75px;
    width: 403px;
  }
  #b {
    height: 150px;
    width: 403px;
   
  }
  #c {
    height: 125px;
    width: 403px;
  }
  #d {
    float: left;
    height: 125px;
    width: 403px;
  }
  #e {
    float: left;
    height: 250px;
    width: 201px;
  }
  #f {
    float: left;
    height: 250px;
    width: 201px;
  }
  #g {
    float: left;
    height: 250px;
    width: 201px;
    
  }
  #h {
    float: left;
    height: 250px;
    width: 201px;
    
  }
  footer {
    height: 80px;
    width: 403px;
    
  }
.clear {
  border: none;
}
article {
  display: inline;
}

