div {
  float: left;
  border: 1px solid white;
  background: orange;
  width: 100%;
}

p {
  /* display: flex; */
  /* top: 50%; */
  height: 100px;
  /* margin-top: 50; */
  /* line-height: 50%; */
  /* align-items: stretch; */
}

.a {
  height: 75px;
}

.b {
  height: 150px;
}

.c {
  height: 125px;
}

.d {
  height: 125px;
}

.e, .f, .g, .h {
  height: 250px;
  width: 240px;
}

.i {
  height: 80px;
}

@media(min-width: 768px){
  div {
    float: left;
    border: 1px solid white;
    background: orange;
    width: 100%;
    line-height: 100%;
  }


  .a {
    height: 75px;
    /* padding: 30px; */
  }
  
  .b {
    height: 600px;
    width: 200px;
  }
  
  .c {
    height: 200px;
    width: 380px;
  }
  
  .d {
    height: 200px;
    width: 380px;
  }
  
  .e, .f, .g, .h {
    height: 250px;
    width: 190px;
  }
  
  .i {
    height: 150px;
    width:760px;
  }
   
}